<!-- ----------------------------------------------------------------------- -->
<!--                              navbar works!                              -->
<!-- ----------------------------------------------------------------------- -->

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="" alt="" width="30" height="24" class="d-inline-block align-text-top">
      ApanaInvoice
    </a>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">AboutUS</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Sign Up</a>
      </li> -->
    <button type="button" class="btn btn-danger">Sign Up</button>
  </ul>
  </div>
</nav>
